# Configuración API
API_BASE_URL=https://api.frankfurter.dev/v1
BASE_CURRENCY=USD
TARGET_CURRENCIES=MXN,EUR,AUD,CAD

# Configuración Pipeline
START_DATE=2024-01-01
END_DATE=2024-06-30

# Spark / Iceberg
CATALOG_NAME=local
WAREHOUSE_PATH=./warehouse